.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
color: aliceblue;
    .card {
        background-color: rgb(16, 8, 70);
        border: none;
        border-radius: 12px;
        padding: 20px;
        width: 30%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        display: block;
        margin: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;

        h2 {
            text-align: left;
        }

        img {
            height: 150px;
            object-fit: cover;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            padding: 1px;
        }
    }
}