.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;

    .card {
        background-color: rgb(17, 9, 70);
        flex: 0 0 calc(100% / 5);
        border: none;
        border-radius: 12px;
        padding: 30px 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        display: block;
        margin: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 300px;

        .content-card {

            text-align: left;

            span {
                font-size: 1rem;
            }
        }

        h2 {
            margin: 12px 0;
            font-size: 1rem;
        }

        p {
            font-size: .9rem;
        }

        img {
            height: 250px;
            object-fit: cover;
            border-radius: 30px 30px;
            border-width: 5px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.562);
        }
    }
}