.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;

    ul {
        display: flex;
        align-items: center;

        .first {
            background: rgb(124, 146, 219);
            padding: 4px 20px;
            border-radius: 12px;
            align-items: center;
        }

        li {
            margin: 12px 3.5px;
            list-style-type: none;
            cursor: pointer;

            a {
                text-decoration: none;
                color: aliceblue;
                padding: 10px;
                font-size: 1.4rem;
            }
        }
    }

    h2 {
        display: block;
        margin: 0 auto;
        text-shadow: 10px 10px 10px rgb(49, 44, 44);
        font-size: 2rem;
    }
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 3px solid #010507; 
    border-bottom: 3px solid #030f18; 
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    animation: spin .8s linear infinite;
    display: flex;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}