.home {
    img {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 4%;
        margin-top: 30px;
        object-fit: cover;
        color: aliceblue;
    }
}